@model PetShop.Models.Category

<from method="post" asp-action="Create"> 
    <div calss="border p-3">
        <div class="form-group row">
        <h2 class="text-info pl-3">Add category</h2>
        </div>
    </div>

</from>

